.div-navbar {
    .navbar-responsive {
        display: none;
    }
    .navbar-list {
        height: 91px; 
        width: 100%;
        background-color: black;
        display: flex;
        img {
            width: auto;
        }
        .ul-desktop {
            color: white;
            list-style: none; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            li {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .div-navbar {
        .navbar-list {
            display: none;
        }
        .navbar-responsive {
            position: relative;
            height: 60px;
            width: 100%;
            background-color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                color: white;
                margin-right: 25px;
                font-size: 20px;
            }
            .ul-responsive {
                position: absolute;
                margin-top: 100px;
                background-color: black;
                color: white;
                right: 0;
                top: -50px;
                list-style: none;
                z-index: 1;
                li {
                    margin: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) and (min-width:481px){
    .div-navbar {
        .navbar-list {
            height: 60px;
            .ul-desktop {
                font-size: 20px;
            }
        }
    }
}