.div-navbar {
    .navbar-list {
        height: 91px; 
        width: 100%;
        background-color: black;
        display: flex;
        img {
            width: auto;
        }
        ul {
            color: white;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
        }
    }
}