.div-home {
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    .div-home-center {
        margin: 50px;
        margin-right: 20px;
        width: 70%;
        .home-title {
            h1 {
                margin-top: 0;
            }
        }
        .center-bottom-home {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    }
    .div-home-right {
        margin-top: 145px;
        margin-right: 50px;
        width: 20%;
    }
}

@media screen and (max-width: 1024px){
    .div-home {
        height: auto;
        margin-left: 100px;
        margin-top: -20px;
    }
}