@mixin component {
    height: 250px;
    width: 31%;
    background-color: grey; 
    border-radius: 5px;
    @media screen and (max-width: 1024px){
        height: 200px;
    }
}

body {
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Roboto';
    font-style: normal;
    @media screen and (max-width: 1024px){
        margin-left: 0;
        margin-right: 0;
    }
}